In [5]:
from pandas import read_csv

In [3]:
features = ['age', 'sex', 'bmi']
data = read_csv('/home/phuong/kitchen/ml/regression/diabetes/diabetes-regression/diabetes-data.csv')

In [4]:
data

     59  2  32.1     101  157   93.2    38     4  4.8598   87  151
0    48  1  21.6   87.00  183  103.2  70.0  3.00  3.8918   69   75
1    72  2  30.5   93.00  156   93.6  41.0  4.00  4.6728   85  141
2    24  1  25.3   84.00  198  131.4  40.0  5.00  4.8903   89  206
3    50  1  23.0  101.00  192  125.4  52.0  4.00  4.2905   80  135
4    23  1  22.6   89.00  139   64.8  61.0  2.00  4.1897   68   97
..   .. ..   ...     ...  ...    ...   ...   ...     ...  ...  ...
436  60  2  28.2  112.00  185  113.8  42.0  4.00  4.9836   93  178
437  47  2  24.9   75.00  225  166.0  42.0  5.00  4.4427  102  104
438  60  2  24.9   99.67  162  106.6  43.0  3.77  4.1271   95  132
439  36  1  30.0   95.00  201  125.2  42.0  4.79  5.1299   85  220
440  36  1  19.6   71.00  250  133.2  97.0  3.00  4.5951   92   57

[441 rows x 11 columns]